<div class="left-status col-xs-2 col-sm-2 col-md-2">
    <div id="user_info" class="row">
        <div class="status-img col-xs-4 col-sm-4 col-md-4">
            <img src="/images/932400529822720ecfd987dc78cb0a46f31fabd1_meitu_1.jpg">
        </div>
        <div class="welcome-tip col-xs-8 col-sm-8 col-md-8">
            <div>欢迎</div>
            <div class="welcome-username">微信小店</div>
            <span class="status-online-sign">online</span>
        </div>
    </div>
    
    <div class="base-info row">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a title="店铺" href="#">
                    <span class="base-info-icon glyphicon glyphicon-home"></span>
                    <span class="badge">4</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="宝贝">
                  <span class="base-info-icon glyphicon glyphicon-shopping-cart"></span>
                  <span class="badge">4</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4">
                <a href="分类">
                    <span class="base-info-icon glyphicon glyphicon-send"></span>
                    <span class="badge">4</span>
                </a>
            </div>
        </div>
    </div>
</div>