<html>
    <head>
        <title>添加文章</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="添加文章" />
        <meta name="description" content="" />
    </head>
    <body>
        <form action="/admin/shop/<%=data.id%>/addarticlecomplete" method="post">
            标题: <input id="title" type="text" name="title"><br>
            内容: <textarea id="content" name="content"></textarea>
            <input type="submit" value="click me">
        </form>
    </body>
</html>
