<html>
    <head>
        <title>微信小店</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="微信小店" />
        <meta name="description" content="" />
    </head>
    <body>
        <form action="/admin/createshopcomplete/" method="post">
            店铺名称: <input id="short_name" type="text" name="short_name"><br>
            店铺描述: <input id="description" type="text" name="description"><br>
            <input type="submit" value="登录">
        </form>
    </body>
</html>