<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>微信小店</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="" /> 
        <meta name="description" content="" /> 
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/admin/main.css">
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include common/header %>
        <div class="all-container container-fluid">
            <div class="row">
                <div class="left-status col-xs-2 col-sm-2 col-md-2">
                    <div id="user_info" class="row">
                        <div class="status-img col-xs-4 col-sm-4 col-md-4">
                            <img src="/images/932400529822720ecfd987dc78cb0a46f31fabd1_meitu_1.jpg">
                        </div>
                        <div class="welcome-tip col-xs-8 col-sm-8 col-md-8">
                            <div>欢迎</div>
                            <div class="welcome-username">微信小店</div>
                            <span class="status-online-sign">online</span>
                        </div>
                    </div>
                    
                    <div class="base-info row">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <a title="店铺" href="#">
                                    <span class="base-info-icon glyphicon glyphicon-home"></span>
                                    <span class="badge">4</span>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <a href="宝贝">
                                  <span class="base-info-icon glyphicon glyphicon-shopping-cart"></span>
                                  <span class="badge">4</span>
                                </a>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4">
                                <a href="分类">
                                    <span class="base-info-icon glyphicon glyphicon-send"></span>
                                    <span class="badge">4</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="right-content" class="col-xs-8 col-sm-8 col-md-8 col-xs-offset-2 col-sm-offset-2 col-md-offset-2">
                    asdasdaaaa
                </div>
            </div>
        </div>
    </body>
</html>