<html>
    <head>
        <title>微信小店</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="微信小店" />
        <meta name="description" content="" />
    </head>
    <body>
        <form action="/admin/home" method="post">
            用户名: <input id="user_name" type="text" name="user_name"><br>
            密  码: <input id="user_pass" type="password" name="user_pass"><br>
            <input type="submit" value="登录">
        </form>
    </body>
</html>