<html>
    <head>
        <title>微信小店_<%=data.short_name%></title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="微信小店" />
        <meta name="description" content="" />
    </head>
    <body>
        <h1><%=data.short_name%></h1>
    </body>
</html>