body {
    font-family:"Helvetica Neue",Helvetica,"Segoe UI",Ubuntu,"Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif
}

.nav.navbar-nav.navbar-right li>a {
    font-size:20px;
    max-height:50px;
}

.navbar.navbar-default {
    background-color: #18bc9c;
}
.navbar-default .nav.navbar-nav li>a,
.navbar-default .navbar-header .navbar-brand, 
.navbar-default .nav.navbar-nav li a:hover {
    color:#FFFFFF;   
}
.navbar-default .nav.navbar-nav .dropdown-menu>li>a {
    color:#333;
}

.navbar-default .navbar-nav>li>.active,
.navbar-default .navbar-nav>li>a:hover,
.navbar.navbar-default .navbar-nav>.open>a{
    background-color: #303641;
    color:#FFFFFF;
}


.all-container {
    border:1px solid transparent;
}
.status-img {
    max-height:100px;
}
.status-img>img {
    width:100%;
    height:100%;
    max-width: 65px;
    max-height: 65px;
    border-radius: 50%;
    border: 2px solid #fff;
}
.left-status {
    color:#FFFFFF;
}
#user_info {
    background-color: #303641;
    padding-top: 15px;
    padding-bottom: 15px;
}
.welcome-tip {
    padding-left: 0;
}
.welcome-username {
    padding-top: 5px;
}
.status-online-sign {
    display: inline-block;
    background-color: #18bc9c;
    border-radius: 10%;
    font-size: 12px;
}
.base-info {
    padding:15px;
    background-color: #262b34;
}
.base-info-icon {
    font-size: 20px;
    
}
.base-info>div>div>a {
    color:#FFFFFF;
}
.base-info>div>div>a:hover {
    color:#18bc9c;
}

.dropdown>a>img {
    width:24px;
    height: 24px;
}
.default-ttable tr td a:hover{
    color: #18bc9c;
}
.default-ttable tr td a {
    text-decoration: none;
}
.default-ttable tr td a {
    padding-left: 2px;
}
.table-tools a {
    text-decoration: none;
}
.table-tools a:hover {
    color: #18bc9c;
}
.mb20 {
    margin-bottom: 20px;
}

.pull-left form div button:hover {
    background-color: #18bc9c;
    color: #FFFFFF
}
.pagination li a:hover {
    color:#18bc9c;
}
.status-prefect-info {
    font-size: 12px;
    float: right;
}
.status-prefect-info a {
    color:#FFFFFF;
}
.status-prefect-info a:hover {
    color:#18bc9c;
    text-decoration: none;
}
.shop-detail {
    padding: 15px 30px 15px;
    position: relative;
    border: 1px solid #18bc9c;
}
.shop-base-info {
    margin-bottom: 20px;
}
.detail-logo img {
    width: 300px;
    height: 200px;
    float: left;
}
.detail-title {
    position: absolute;
    color:#FFFFFF;
    left:330px;
    color: #333333;
    max-width: 750px;
}
.detail-title label {
    display: block;
    padding-bottom: 5px;
}
.detail-title span {
    color:#18bc9c;
    padding-right: 10px
}
.space30 {
    height: 30px;
    clear: both;
}
.footnav a:hover {
    color:#18bc9c;
}
.shop-img {
     width:50%;
     height:20%;
}
.banner-desc {
    margin-top : 5px; 
}
.minor-titie{
    display: block;
    color:#18bc9c;
}