<div class="footer clearfix"> 
 <div class="footnav clearfix"> 
  <a href="#">首页</a> 
  <a href="#">淘宝地址</a> 
  <a href="#">联系商家</a> 
  <a href="#">商家地址</a> 
 </div> 
 <p class="copright">Copyright © 2008-2014 xxx.xxx.com，All Rights Reserved 京ICP备xxxxxxx号</p> 
</div>