<div class="footer clearfix"> 
 <div class="footnav clearfix"> 
  <a href="/shop/<%=data.shop.id%>/">首页</a> 
  <a href="/shop/<%=data.shop.id%>/list/">所有宝贝</a>
  <a href="/shop/<%=data.shop.id%>/introduce">店铺介绍</a> 
  <a href="<%=data.shop.taobao_link%>">淘宝地址</a>
 </div> 
 <p class="copright">Copyright © 2008-2014 xxx.xxx.com，All Rights Reserved 京ICP备xxxxxxx号</p> 
</div>