<%- include top_tools %>
<header id="nav" class="navigation clearfix"> 
 <a href="/shop/<%=data.shop.id%>/"><span>首&nbsp;&nbsp;页</span></a>&nbsp;&gt;&nbsp;
 <a href="/shop/<%=data.shop.id%>/list/"><span>所有宝贝</span></a> &nbsp;&gt;&nbsp;
 <a href="/shop/<%=data.shop.id%>/introduce/"><span>店铺介绍</span></a>
</header>