<html>
    <head>
        <title>欢迎来到<%=data.shop.short_name%>的小店</title>
	    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <meta name="keywords" content="<%=data.shop.short_name%> 微信小店" />
        <meta name="description" content="" />
    </head>
    <body>
        <h1>欢迎来到<%=data.shop.short_name%>的小店</h1>
    </body>
</html>
