<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 新 Bootstrap 核心 CSS 文件 -->
        <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/style/main.css">
        <link rel="stylesheet" href="/style/item_detail.css" />
        <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js">
        </script>
        <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <header id="header" class="header clearfix"> 
         <span class="headtit"><%=data.shop.short_name%></span> 
        </header>
        <div class="container-fluid">
            <div class="row">
                <img src="http://m1.auto.itc.cn/car/theme/2sc/chengxin/images/13691012613419.jpg">
            </div>
              <%
                  if(data.items.result.length > 0) {
                    for(var i = 0; i < data.items.result.length; i++) {
                      if(i % 3 == 0) {
              %>
                          <div class="row t20b10">
              <%
                      }
              %>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                          <a href="/item/<%=data.items.result[i].id%>.html"><img class="img95" src="/<%=data.items.result[i].pic_url%>"></a><br>
                          <a href=""><label><%=data.items.result[i].short_name%></label></a>
                      </div>
              <%
                      if((i != 0 && (i + 1) % 3 == 0) || (i + 1 == data.items.result.length)) {
              %>
                        </div>
              <%
                      }
                    }
                  }
              %>
        </div>
        <div class="footer clearfix"> 
         <div class="footnav clearfix"> 
          <a href="#">首页</a> 
          <a href="#">淘宝地址</a> 
          <a href="#">联系商家</a> 
          <a href="#">商家地址</a> 
         </div> 
         <p class="copright">Copyright © 2008-2014 xxx.xxx.com，All Rights Reserved 京ICP备xxxxxxx号</p> 
        </div>

    </body>

</html>