<header class="header clearfix">
 <div class="head_left fl"> 
  <a href="javascript:void(0)" class="J_backToPrev"><span class="h_empty"></span></a> 
 </div>
 <span class="headtit"><%=data.shop.short_name%></span> 
 <div class="head_right fr"> 
  <a href="/shop/<%=data.shop.id%>/"><span class="h_home"></span></a> 
 </div>
</header>