@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,input,img{margin:0;padding:0;}

body,html,input, textarea{ font:14px/1.7 'Microsoft Yahei'; color:#000;}
table{border-collapse:collapse;border-spacing:0;}
img, input, textarea, a{border:none; outline:none;}
img {display:block}
pre {white-space: pre-wrap; /* css-3 */white-space: -moz-pre-wrap; /* Mozilla, since 1999 */white-space: -pre-wrap; /* Opera 4-6 */white-space: -o-pre-wrap; /* Opera 7 */	word-wrap: break-word; font-family:arial,\5b8b\4f53; /* Internet Explorer 5.5+ */}
h1,h3,h4,h5,h6{font-size:100%; font-weight:normal;}input.dialog{height:0; height:0; font-size:0; line-height:0; border:none;}
ul,ol,li{ list-style:none;}

.clearfix:after{visibility: hidden; display: block; font-size: 0; content: ""; clear: both; height: 0; }
.clearfix{*zoom:1;}


.fl{ float:left; display:inline}
.fr{ float:right; display:inline}
.mgt15{ margin-top:15px;}

a{ color:#1a6eb6; text-decoration:none;}
a:hover{ color:#1a6eb6; text-decoration:underline;}

/*content style*/
.ctnwrp{ width:1000px; margin:0 auto;}
.bannerwrp{ position:relative;}
.weixin_bn{position:absolute; top:239px; left:119px;}
.menuwrp{ line-height:32px; background-color:#ca0a15}
.menulf{ background:#9f9fa0 url(../images/bg.png) no-repeat right top; width:332px; text-align:center; float:left;}
.menulist li{ float:left; color:#fff;}
.menulist li a{ float:left;  display:block; width:120px; text-align:center; color:#fff;}
.menulist li a.current, .menulist li a:hover{ font-size:16px; font-weight:700;}
.menulist li a:hover{ color:#fff;}

.tbwrp{width:225px; height:320px; background-color:#9f9fa0; float:left; position:relative;}
.srchwrp{ border-bottom:solid 2px #bebfc0; font:14px/1.5 'Microsoft Yahei'}
.srchwrp a{ color:#000; margin-right:2px; overflow:hidden;white-space:nowrap; }
.srchwrp .icon_td{ text-align:center; width:64px; color:#fff; vertical-align:middle;}
.srchwrp .txt_td{ padding:0 10px; height:80px; vertical-align:middle;}
.srchwrp i{ display:block; width:35px; height:34px; background:url(../images/icon_bg.jpg) no-repeat; font-style:normal; margin:0 auto 3px auto;}
.srchwrp i.brand_icn{ background-position:0 0;}
.srchwrp i.carty_icn{ background-position:0 -34px;}
.last{ border-bottom:0;}

/*add on 20141027 for brand right pop*/
.moreicon_wp{ background:url(../images/moreicon_menu.gif) no-repeat; width:13px; height:12px; display:inline-block; margin-left:10px;}
.morecarlist_pop{width:420px; height:320px; overflow-y:auto; position:absolute; position:absolute; top:0;left:225px; z-index:100; background-color:#9F9FA0; border-left:solid 2px #BEBFC0; display:none;}
.morecarlist_pop ul{ padding:20px 10px 10px 20px;;}
.morecarlist_pop ul li{padding-left: 30px;color: #FF3900;line-height: 24px; padding-bottom:10px; position: relative;}
.morecarlist_pop ul li .item-index { position: absolute; left: 0px; top: 0px;}
.morecarlist_pop ul li a {display: inline-block;margin-right: 15px;text-indent: 0;padding: 0;white-space: nowrap; color:#000;}
#morecarlisttr{ cursor:pointer;}

.midrtwrp{float:right; width:190px; background-color:#fef5f0; border:solid 1px #f4d3d9; border-top:0; height:320px; position:relative;}
.tabcntwrp{ width:95px; height:27px; float:left;}
.tabcntwrp .tab_info{ width:95px; height:27px; line-height:27px; color:#fff; background-color:#727172; display:block; text-align:center; cursor:pointer;}
.tabcntwrp .current{ background-color:#fef5f0; color:#000}
.tabcntwrp .tab_cnt{ position:absolute; top:27px; left:0; padding:10px; display:none; color:#666; font-size:12px; line-height:23px; width:170px; height:296px; overflow:hidden;}

.adwrp{width:790px; height:145px; border:solid 1px #919191;}
.hotlinewrp{width:188px; background-color:#fef5f0; border:solid 1px #f4d3d9; height:145px; font-size:18px;}
.telwrp{ margin:0 auto; margin-top:37px; width:140px;}
.telwrp .tel_icon{ display:inline-block; height:40px; background:url(../images/tel_icon.gif) no-repeat; padding-left:47px; font-style:normal; line-height:40px;}

.listwrp{ width:792px; float:left;}
.tlwrp{ line-height:32px; background-color:#ca0a15; text-align:right;}
.listlf{ background:#9f9fa0 url(../images/bg.png) no-repeat right top; width:207px; text-align:center; float:left;}
.listwrp a.morecartype{ color:#fff; margin-right:50px;}

.listulwrp{ margin-right:-30px;}
.carlist_el{ width:244px; float:left; display:inline; margin:10px 30px 30px 0;}
.carlist_el .imgwrp{ width:240px; padding:1px; border:solid 1px #e3e2e2;}
.carlist_el .name{ line-height:22px; padding:3px 0; height:22px; overflow:hidden;}
.carlist_el .name a{ color:#105995;}
.carlist_el .price{ float:right; color:red; font-size:20px; line-height:22px;}

.listpagerwp{ text-align:center; padding:30px 10px; border-top:solid 1px #e3e2e2; border-bottom:solid 1px #e3e2e2; margin:30px 0;}
.listpagerwp a{ display:inline-block; width:35px; height:35px; line-height:35px; text-align:center; border:solid 1px #888; margin-right:5px; color:#105995;}
.listpagerwp a.prevpage, .listpagerwp a.nextpage, .listpagerwp a.index{ padding:0 10px; width:auto;}
.listpagerwp a:hover, .listpagerwp a.current{ background-color:#efefef; color:#105995; text-decoration:none;}

.listrtwrp{float:right; width:190px;}
.listrtwrp .partwrp{ background-color:#fef5f0; border:solid 1px #f4d3d9; border-top:0;}
.reserv_tl{background-color:#a0a0a1; color:#fff; text-align:center; line-height:32px;}
.reserformwrp { text-align:center; padding:10px 0;}
.reserformwrp input{ width:160px; height:30px; line-height:30px; padding:0 5px; border:solid 1px #c9c9c9; color:#999; margin-bottom:5px;}
.reserformwrp .submitbtn{ display:block; width:105px; height:24px; background:url(../images/submitbtn.gif) no-repeat; text-align:center; color:#fff; margin:5px auto;}
.dealerul{ width:180px; margin:10px auto; color:#666; font-size:12px;}
.dealerul li{ border-bottom:dotted 1px #636363; padding:5px; line-height:20px;}
.dealerul li .name{ font-weight:700;}
.dealerul li.last{ border-bottom:0;}

.pathcell{ height:30px;}
.pathcell a{ color:#000;}

.filterwrap{ border:solid 1px #f4d3d9; background-color:#fef5f0; border-top:0;}
.filterwrap .tl_fwp{ border-top:solid  3px #ca0a15; padding-left:25px; background-color:#b5b5b6;}
.filterwrap .fltkeyswrp{ padding:7px 25px;}
.filterwrap .fltkeyswrp dt{ float:left; width:72px; display:inline;}
.filterwrap .filter-items .link{ color:#00628e; font-size:12px;padding-right: 6px; margin-right: 6px;}
.filterwrap .filter-items .link-active{background-color:#f4b2bc; padding-top:3px; padding-bottom:3px; padding-left:7px}

.pdtb15{ padding:15px 0 10px 0;}

.dealerlist_wp{ float:left; width:315px; border:solid 1px #f4d3d9; background-color:#fef5f0; display:inline; margin:0 8px 30px 8px; cursor:pointer;}
.dealerlist_wp:hover{ text-decoration:none;}
.dealerlist_wp span{ display:block;}
.dealerlist_wp img{ margin:0 auto;}
.dealerlist_wp .txt{ padding:0 20px; line-height:18px; color:#3b4070; font-weight:700; height:54px; overflow:hidden;}
.dealerlist_wp .info{ background-color:#9f9fa0; height:47px; margin-top:10px;}
.dealerlist_wp .info .name{ float:left; width:145px; padding-left:15px; color:#df4024; line-height:47px;}
.dealerlist_wp .info .add{ color:#fff; line-height:20px; padding-top:3px;}

.detail_lf, .detail_rt{ border:solid 1px #f4d3d9; background-color:#fef5f0; height:232px; overflow:hidden;}
.detail_lf{ width:237px; text-align:center; line-height:24px; padding:10px 0 20px 0; float:left;}
.detail_lf .name{ color:#df4024; font-size:18px; margin-top:10px;}
.detail_lf .add{ font-size:16px; margin-top:3px;}
.detail_rt{ padding:15px 15px 15px 15px; margin-left:247px; line-height:20px; font-size:12px;}
.detail_rt .tl{ font-size:14px; margin-bottom:5px;}

.carlisttl_dt{ background-color:#ca0a15; color:#fff; padding-left:25px; line-height:32px;}
.carlist_dlr{ width:224px; float:left; display:inline; margin:10px 13px 30px 13px;}
.carlist_dlr img{ width:220px;}
.carlist_dlr .imgwrp{ width:220px; padding:1px; border:solid 1px #e3e2e2;}
.carlist_dlr .name{ line-height:22px; padding:3px 0; height:22px; overflow:hidden;}
.carlist_dlr .name a{ color:#105995;}
.carlist_dlr .price{ float:right; color:red; font-size:20px; line-height:22px;}

.servicelist{ background:url(../images/service_bg_ul.jpg) repeat-x bottom left; margin:30px 0 50px 0}
.servicelist li{ cursor:pointer; position:relative; width:184px; float:left; display:inline; margin:0 8px; padding-bottom:18px;}
.servicelist li.current{ background:url(../images/service_bg.jpg) no-repeat bottom left;}
.servicelist li img{ opacity:0.5;filter:Alpha(opacity=50);  margin-top:36px;}
.servicelist li .txt{ position:absolute; display:block; text-align:center; top:106px; width:184px; height:27px; overflow:hidden; font-weight:700; font-size:16px;}

.servicelist li .bttxt{ display:block; height:36px; line-height:36px; font-size:16px; font-weight:700; color:#fff; background-color:#9f9fa0; text-align:center; display:none;}
.servicelist li.current .bttxt{ display:block;}
.servicelist li.current img{ opacity:1.0; filter:Alpha(opacity=100);  margin-top:0;}
.servicelist li.current .txt{ display:none;}

.content_sev{ color:#3e3a39; width:660px; margin:0 auto 50px auto; display:none; min-height:350px;_height:350px;}
.content_sev .tl{ font-size:30px; text-align:center; color:#000;}
.cntulwp li{ list-style:decimal; margin:5px 18px;}

.nodatetip {
	padding:18px 0;
	width:540px;
	margin:0 auto;
	font-size:14px;
	line-height:24px;
	overflow:hidden
}
.nodatetip span {
	width:50px;
	height:50px;
	float:left;
	background:url(http://m4.auto.itc.cn/car/theme/2sc/images/ico_bg.png) no-repeat -250px -120px
}
.nodatetip p {
	width:478px;
	float:right;
	padding-top:3px
}

/*图片轮换*/
.index-top-banner {position:relative;overflow:hidden;height:320px;z-index:1; width:582px;}
.index-top-banner .promo-nav {position:absolute;right:200px;bottom:35px}
.show-nav{position: relative; width:100%; height:100%;}
.show-nav li {position: absolute; top:0;}
.show-nav li a {display:block}
.show-nav li.cur {display:block}
.index-top-banner .promo-nav a {display:block;width:35px;height:5px; font-size:0;margin-left:5px;background-color:#fff;}
.index-top-banner .promo-nav a:hover { background-color:#e05212}
.index-top-banner .promo-nav .selected a {background:#e05212;}
.index-top-banner li img {display:block}


/*select style*/
.ui-select {
	z-index:1;
	display:inline-block;
	position:relative;
	cursor:pointer;
	width:120px;
	border:1px solid #ababab;
	height:24px;
	font-size:12px;
	line-height:24px;
	background:#fff;
	color:#999;
	vertical-align:middle;
	width:130px;
}
.ui-select {
	*display:inline
}
.ui-select .layout{
overflow:hidden;
}
.ui-select span.menu-arrows {
	right:10px;
	display:inline-block;
	width:0;
	height:0;
	border:5px solid #999;
	border-color:#999 #fff;
	border-width:5px 5px 0 5px;
	font-size:0;
	overflow:hidden;
	position:absolute;
	top:10px;
	right:9px;
	margin:0;
}
.ui-select .menu-list {
	position:absolute;
	border:1px #999 solid;
	font:14px/26px "\5FAE\8F6F\96C5\9ED1";
	background:#FFF;
	z-index:100;
	-webkit-box-shadow:2px 2px 3px #999;
	-moz-box-shadow:2px 2px 3px #999;
	box-shadow:2px 2px 3px #999;
	display:none;
	height:240px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:100%;
	left:-1px;
	top:24px;
	cursor:default;
}
.ui-select .menu-name {
	color:#444;
	display:inline-block;
	height:100%;
	overflow:hidden;
	padding-right:20px;
	padding-left:10px
}
.ui-select ul {
	padding:0;
	
}
.ui-select li {
	line-height:26px
}
.ui-select li.current a,.ui-select li.current a:hover {
	color:#0179dc
}
.ui-select li span.item-sep,.ui-select li span.item-group {
	padding:0 10px 0 15px
}
.ui-select li span.item-group {
	border-bottom: 1px solid #eee;
	font-style: italic;
	display: block;
	margin-top:5px;
	font-weight: bold;
	color: #333;
}
.ui-select li i.item-index {
	display:inline-block;
	width:30px;
	font-style:normal;
	color:#FF3900
}
.ui-select li a i.item-index {
	display:inline-block
}
.ui-select li a {
	color:#333;
	display:block;
	padding:0 15px 0 15px;
	text-decoration:none;
	height:26px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.ui-select li a:hover {
	color:#333;
	text-decoration:none;
	background-color:#e5e5e5
}
.ui-select-active {
	z-index:1000
}
.ui-select-active .menu-list {
	display:block
}
.ui-select-active .menu-arrows {
	border-width:0 5px 5px 5px
}
.ui-blink{
	background:#FFF6F7;
	border:1px #F33 solid;
}
.ui-select .car-list li{ position:relative;}
.ui-select .car-list .item-index{
	position:absolute; left:0; top:0;
}
.ui-select .select-model{
	width:155px;
}
.ui-select.disabled {
	border:1px solid #e9e9e9
}
.ui-select.disabled .menu-name {
	color:#999
}
.ui-select .select-brand {
	width:387px
}
.ui-select .select-brand .hot {
	padding:10px;
	background:url(../images/bg_dash_3x3.png) repeat-x bottom
}
.ui-select .select-brand a {
	color:#333;
	margin-right:30px;
	white-space:nowrap
}
.ui-select .select-brand a:hover {
	background:#fff;
	color:#ff3900
}
.ui-select .select-brand .car-list {
	padding-top:10px;
	padding-left:10px
}
.ui-select .select-brand .car-list a {
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin-right:30px;
	text-indent:0;
	padding:0;
	float:none;
}
.ui-select .select-brand .car-list li {
	padding-left:30px;
	color:#ff3900;
	line-height:30px
}
.ui-select .select-brand .car-list li span {
	margin-right:17px
}
.ui-select .select-trim {
	width:350px;
	overflow:hidden;
}
.ui-select .select-trim .layout {
	overflow:hidden;
	*zoom:1
}
.ui-select .select-trim .layout .years,.ui-select .select-trim .layout .trim-list {
	min-height:365px;
	_height:365px;
	max-height:365px;
}
.ui-select .select-trim  .years {
	float:left;
	display:inline;
	background:#f9f9f9;
	border-right:1px solid #b9b9b9;
	width:89px
}
.ui-select .select-trim  .years a {
	line-height:28px;
	text-align:center
}
.ui-select .select-trim  .years li {
	display:inline;
}
.ui-select .select-trim .layout .years a:hover,.ui-select .select-trim .layout .years .cur a{
	background:#ffe6c6
}
.ui-select .select-trim .layout .trim-list {
	float:right;
	display:inline;
	width:240px;
	overflow-y:auto;
}
.ui-select .select-trim .layout .trim-list li {
	display:block;
	padding:5px 0
}
.ui-select .select-trim .layout .trim-list a:hover {
	background:#fff;
	color:#ff3900
}
.ui-select .car-list li.current a{
color:#333;
}
.ui-select .car-list li.current .item-index{
	color:#0179DC;
}
.ui-select .car-list li.current a:hover {
	color:inherit;
}

.usedCar-footer {
    color: #666;

    line-height: 22px;
    margin: 24px auto 0;
    padding: 5px 0 85px;
    position: relative;
    text-align: center;
    width: 1000px;
	z-index:10;
}

.usedCar-footer .zscx {
    background: url("http://www.sohu.com/upload/images/server/icon09.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 32px;
    left: 760px;
    line-height: 32px;
    padding-left: 30px;
    position: absolute;
    top: 30px;
}
.usedCar-footer a {
    color: #666;
    text-decoration: none;
}
.usedCar-footer .fontArial {
    font-family: 'Arial';
}
.mbox .more {
    float: right;
    line-height: 30px;
}
.city-box{
	background-color: #fff;
	border: 1px solid #ccc;
	padding:15px 10px;
	position: absolute;
	width: 310px;
}
.city-box a{
	cursor: pointer;
	display: inline-block;
	margin: 0 10px 10px 0;
	padding:0 10px;
}
.city-content .provinces ul li a {
    cursor: pointer;
    margin-right: 15px;
}
.city-content .hot-city a {
    cursor: pointer;
    display: inline-block;
    margin: 0 19px 10px 0;
}
.city-select {
	padding:0px 7px 5px 10px;
	width:72px;
	position:absolute;
	top:0px;
	z-index:19995;
	margin-left: 50px;
}

.city-select a {
	font-size:12px;
	color:#ed7433
}

.city-select a:hover {
	text-decoration:none
}

.city-select-active {
	border:1px solid #e9e9e9;
	border-bottom:0;
	background:#fff;
	padding:0px 7px 5px 10px;
	margin-left: 50px;
}

.city-content {
	display:none;
	width:562px;
	height:415px;
	border:1px solid #e9e9e9;
	background:#fff;
	position:absolute;
	top:30px;
	z-index:19990;
	padding:18px;
	margin-left: 50px;
}

.city-content h5 {
	font-weight:normal;
	color:#999;
	margin-bottom:10px
}

.city-content .hot-city {
	padding-bottom:10px;
	border-bottom:1px dotted #d0d0d0
}

.city-content .hot-city span {
	cursor:pointer;
	display:inline-block;
	margin:0 20px 10px 0
}

.city-content .provinces {
	margin-top:20px
}

.city-content .provinces ul li {
	float:left;
	width:280px;
	margin-bottom:11px;
	*margin-bottom:6px;
}

.city-content .provinces ul li strong {
	font-weight:normal;
	color:#ff3900;
	display:inline-block;
	width:26px
}

.city-content .provinces ul li span {
	margin-right:15px;
	cursor:pointer
}
